#home-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
}

#home-container #video-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 80%;
    height: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    margin-top: 100px;
}

#home-container #webcam {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 80%;
    height: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    margin-top: 100px;
    border: 2px solid #000000;
    border-radius: 9px;
    box-shadow: 4px 4px;
}

#Recording {
    margin-top: 600px;
    margin-bottom: 200px;
}

#swap-cam {
    visibility: hidden;
}

@media only screen and (max-width: 1024px){
    .video-prop{
        width: 320px;
        height: 240px;
    }

    #swap-cam{
        visibility: visible;
    }

    #bigPawTrack{
        width: 334px;
        height: auto;
        top: -125%;
        left: -30%;
    }
}

#home-btn {
    background-color: var(--secondaryColor);
    color: var(--backgroundColor);
    padding:  5px 15px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: 0.3s;
    font-size: 1rem;

    margin-top: 10px;
}

#home-btn:hover {
    background-color: #255DAF;
    padding: 7px 25px;
    font-size: 1.1rem;
    color: #ffffff;
}

#away-btn {
    background-color: #F6BE00;
    color: var(--backgroundColor);
    padding:  5px 15px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    font-weight: 700;
}

#away-btn:hover {
    background-color: #F6BE00;
    padding: 7px 25px;
    font-size: 1.1rem;
    color: #ffffff;
}