@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

#nineEleven{
    position: absolute;
    height: 100%;
    width: 100%;
}

#threat{
    font-size: 75px;
    color: red;
    z-index: 1;
    padding-bottom: 100px;
}

#message{
    font-size: 50px;
    color: red;
    z-index: 1;
    padding: 100px 300px;
}

#hostage{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    z-index: 1;
}