.trickCard {
    border: 3px solid #020202;
    border-radius: 9px;
    width: 275px;
    height: auto;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 4px 4px #000000;
    position: relative;
    margin: 0 5px 50px 0;
    transition: 0.425s;
    padding: 10px;
}

.trickCard:hover {
    /* border: 3px solid var(--secondaryColor); */
    width: 325px;
    box-shadow: 8px 8px var(--mainColor);
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 125px;
}

.cardLinks{
    text-decoration: none;
    color: var(--textColor);
}

.petDivider{
    border: 1px solid var(--secondaryColor);
    width: 80%;
    margin: 20px auto;
    float: right;
}

.trickType{
    float: left;
}

.trickDivider{
    padding: 75px;
}