@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
    --mainColor: #8FC1E3;
    --secondaryColor: #3170BE;
    --backgroundColor: #F7F9FB;
    --textColor: #000000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

.nav-items{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-weight: 200;
    font-size: 1.5rem;
}

.nav-items:hover{
    text-decoration: underline;
}

.navbar .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
    top: 2rem;
    right: 2rem;
}

@media only screen and (max-width: 1024px){
    .navbar .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    #profileLink {
        position: absolute;
        bottom: 30px;
    }

    .navbar nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--backgroundColor);
        transition-property: width;
        transition: 1s;
        transform: translateX(30vh);
        z-index: 7;
    }
}

.navbar .responsive_nav{
    transform: none;
}

nav .nav-close-btn{
    position: absolute;
}

#header-logo{
    height: 72px;
    width: 72px;
    float: left;
    margin: 5px;
}

#pawTracksLogo{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 28px;
    float: right;
    margin: 28px 0;
    text-decoration: none;
    color: var(--textColor);
}


#profileLink {
    position: absolute;
    right: 10px;
}
