@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --mainColor: #8FC1E3;
    --secondaryColor: #3170BE;
    --backgroundColor: #F7F9FB;
    --textColor: #000000;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: var(--textColor);
    background-color: var(--mainColor);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
    overflow: hidden;
    width: 100%;
    height: 100px;

    /* border: solid 3px palegreen;
    background: linear-gradient(yellow, yellow) no-repeat center/2px 100%; */
}


.logoWrapper{
    display: flex;
    align-items: center;
    text-decoration: none;

    /* border: solid 3px green; */
}

.imgLogo{
    height: 72px;
    width: 72px;
    padding-left: 4px;
    
    /* border: solid 3px pink; */
}

.textLogo{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: var(--textColor);
    padding-left: 4px;

    /* border: solid 3px pink; */
}

.navbar .mobileNavBar{
    /* border: solid 3px purple;
    background: linear-gradient(red,red) no-repeat center/2px 100%; */
}
.navbar .mainWrapper{
    position: relative;
    display: flex;
    margin-right: 181px;

    /* border: solid 3px orange;
    background: linear-gradient(red,red) no-repeat center/2px 100%; */
}

.navbar .navItem{
    padding-right: 5rem;
    color: var(--textColor);
    text-decoration: none;
    font-weight: 200;
    font-size: 1.5rem;

    /* border: solid 3px pink; */
}

.navbar .mainWrapper .navItem:last-child{
    padding-right: 0;
}

.linkText{
    display: flex;
    align-items: center;
}

.navItem:hover{
    text-decoration: underline;
}

.profileWrapper{
    position: absolute;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    padding: 0 10px;

    /* border: solid 3px green; */
    /* background: linear-gradient(red,red) no-repeat center/2px 100%; */
}

.profileWrapper .navItem{
    padding: 0;
}

.signOut{
    font-family: 'Outfit', sans-serif;
    position: relative;
    float: right;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    font-weight: 200;
    font-size: 1rem;

    /* background: linear-gradient(black,black) no-repeat center/2px 100%; */
}

.signOut:hover{
    text-decoration: underline;
}

.navbar .mobileNavItem{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
    top: 2rem;
    right: 2rem;
}

nav .mobileClose{
    position: absolute;
}

@media only screen and (max-width: 1024px){
    .navbar .mobileNavItem{
        visibility: visible;
        opacity: 1;
    }
    
    .navbar .mobileNavBar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--backgroundColor);
        transition-property: width;
        transition: 1s;
        transform: translateX(30vh);
        z-index: 7;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    }
    
    .navbar .mainWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        margin-right: 0;
    }

    .navbar .navItem{
        padding: 0;
        padding-bottom: 1rem;
    }
    
    .navbar .navItem:last-child{
        padding-bottom: 0;
    }

    .profileWrapper{
        position: absolute;
        top:auto;
        bottom: 100px;
        right: 0px;
        transform: none;
        
        /* border: solid 3px green; */
        /* background: linear-gradient(red,red) no-repeat center/2px 100%; */
    }

    .profileWrapper .navItem{
        padding: 0;
    }
}

.navbar .responsiveNav{
    transform: none;
} 
