*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
    --mainColor: #8FC1E3;
    --secondaryColor: #3170BE;
    --backgroundColor: #F7F9FB;
    --textColor: #000000;
}

.footer {
    /*display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 2 rem;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    margin-top: -80px;*/
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
    width: 100%;
    bottom: 0;
    color: var(--textColor);
    border-top: 2px solid #000000;
    background-color: var(--backgroundColor);
    z-index: 7;
}

@media only screen and (max-width: 1024px){
    .footer-logo, .github_link {
        display: none;
    }

    .nav-items {
        margin: 0 1rem;
        color: var(--textColor);
        text-decoration: none;
        font-weight: 200;
        font-size: 18px;
    }

}

.nav-items:hover {
    text-decoration: underline;
}

.github_link {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-align: center;
    color: #999999;
    padding-top: 50px;
}