*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
    --mainColor: #8FC1E3;
    --secondaryColor: #3170BE;
    --backgroundColor: #F7F9FB;
    --textColor: #000000;
}

.footer {
    /*display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 2 rem;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    margin-top: -80px;*/
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    width: 100%;
    bottom: 0;
    color: var(--textColor);
    border-top: 2px solid #000000;
}