@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
    --mainColor: #8FC1E3;
    --secondaryColor: #3170BE;
    --backgroundColor: #F7F9FB;
    --textColor: #000000;
}

#test-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
}

#test-container #video-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 80%;
    height: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 6;
    margin-top: 100px;
}

#test-container #video {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 80%;
    height: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    margin-top: 100px;
    border: 2px solid #000000;
    border-radius: 9px;
    box-shadow: 4px 4px;
}

#video {
    height: auto;
    width: auto;
}

#video-container{
    display: none;
}